name: Create Pull Request
on:
  workflow_dispatch:
    inputs:
      branch:
        description: 'Branch to Push'
        required: true
jobs:
  GitstartCreatePullRequest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
#         with:
#           token: ${{secrets.OS_PULL}}
#           owner: "GitStartHQ"
#           branch: ${{ github.event.inputs.branch } 
