name: Create Pull Request
on:
  workflow_dispatch:
  pull_request:
    types: [opened]
jobs:
  Gitstart_Pull_Request:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - id: js-script
        uses: actions/github-script@v3
        with:
          github-token: ${{secrets.OS_PULL}}
          script: |
            console.log("Starting...")
            const pullRequest = octokit.pulls.list({
              owner: "GitStartHQ",
              repo: "hey",
              head: "gitstart:pr-test"
            })
            console.log("pullRequest", pullRequest)
            if (!pullRequest) {
              github.pulls.create({
                owner: "GitStartHQ",
                title: "Test PR by Action",
                repo: "hey",
                head: "gitstart:pr-test",
                base: "main",
              })
            }
      
